@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-Italic';
    src: url('./fonts/Raleway/Raleway-Italic.ttf');
}
@font-face {
    font-family: 'Lobster';
    src: url('./fonts/Lobster/Lobster-Regular.ttf');
}

/* General */
body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway';
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0px;
}

h1 {
  margin: 0px;
}

/* Nav */
.nav_wrapper {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 125px;
  /*margin-bottom: 50px;*/
}

.nav_logo {
  display: block;
}

.nav_list {
  list-style: none;
  padding-left: 0px;
  display: flex;
}

.nav_item {
  display: block;
  float: left;
  margin-left: 40px;
  margin-right: 40px;
  padding: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.nav_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav_img {
  display: block;
  width: 75px;
  margin: 20px;
  position: absolute;
}

nav .active, nav .nav_item:hover {
  box-shadow: 0px 5px 15px rgba(27, 203, 124, 37);
}
/* Footer */
footer {
  width: 100%;
  justify-content: space-around;
  background-color: #D9D9D9;
}

.footer_list {
  padding-left: 0px;
  list-style: none;
}

.footer_item {
  margin-bottom: 15px;
}

.footer_link {
  text-decoration: none;
  font-size: 20px;
}

.footer_link:hover {
  color: #A3A3A3;
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

footer p {
  font-size: 20px;
}

footer .icon {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
/* Landing Page */
#window_wrapper {

}

.landing_container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  flex-direction: column;
  height: 45%;
}

#landing_img {
  padding-top: 3%;
  padding-bottom: 1%;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

#landing_img img {
  width: 475px;
}

#landing_nav {
  flex-wrap: wrap;
}

#landing_nav #nav_list {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  height: 30%;
}

#landing_nav img {
  width: 60px;
}

#landing_nav .nav_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#landing_nav .nav_link:hover {
  color: #D8D8D8;
}

#landing_nav p {
  padding-top: 15px;
}

#welcome {
  position: absolute;
}

#landing_body {
  background-image: url(../images/landing3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
  height: 55%;
}

#quote_wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5%;

}

#landing_body p {
  font-family: 'Raleway-Italic';
  padding: 3%;
  font-size: 30px;
  text-align: center;
  width: 600px;
  align-self: center;
}

.button_wrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


/* About Page */

#about_header {
  background-image: url("../images/about_image.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

#about_info_wrapper {
  display: flex;
  margin: 5%;
  text-align: center;
}

#about_info {
  background-color: rgba(78, 33, 97, 0.76);
  padding: 35px;
}

#about_info p {
  font-size: 30px;
  padding: 10px;
  display: block;
  color: white;
}

h2#about_title{
  padding-bottom: 0px;
}

#about_list {
  list-style: none;
  font-size: 25px;
}

#about_list li {
  margin: 20px;
}

#features_wrapper {
  display: flex;
  justify-content: space-around;
}

#about_list_wrapper {
  width: 65%;
}

#mic_img_wrapper {
  margin: 20px;
  margin-bottom: 0px;
  align-self: center;
  display: flex;
}

#mic_img_wrapper img {
  width: 400px;
  height: auto;
}

#cord_img_wrapper {
  display: flex;
  justify-content: flex-end;
}

#about_cord_img {
  position: absolute;
}

#slideshow_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#slide_button_container_left {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#slide_button_container_right {
  display: flex;
  justify-content: flex-start;
}

#left:hover, #right:hover {
  cursor: pointer;
}

#slideshow_wrapper img.icon {
  width: 50px;
}

#slideshow_wrapper #image_container {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 710px;
}

#image_container img {
  width: 710px;
  height: 400px;
}

#current_img {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,1), 0 2px 10px 0 rgba(0,0,0,1);
}

/* Karaoke Page */
.karaoke_title{
  font-size: 40px;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;

}

#suite_rates, #rooms {
  font-size: 20px;
  padding: 50px;
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
}

#rooms {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/*.karaoke_img_wrapper {
  display: flex;
}*/


#group, #room {
  width: 100px;
  height: 100px;
  align-self: center;
}

.rooms, .deals {
  display: flex;
}

.rooms .img_wrapper, .deals .img_wrapper {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 2.5%;
}

.rooms .img_wrapper img, .deals .img_wrapper img {
  width: 100%;
  height: 100%;
}


/* Menu Page */
a.menu {
  color: black;
  text-decoration: none;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu_wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#menu_subtitle {
  padding-top: 0px;
}

.menu_img {
  width: 83%;
  height: 83%;
  align-self: center;
}

#center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
}

#center_img:hover {
  opacity: .8;
}

#download_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#menu_wrapper .subtitle {
  padding: 50px;
}

#download {
  padding-bottom: 50px;
}
/*Contact Page Styling*/

h2.subtitle {
  margin: 0px;
  padding: 50px;
  padding-top: 0px;
  font-size: 30px;
  font-weight: lighter;
  color: #4E2764;
  text-align: center;
}
#mainForm {
  background-color: white;
}

#contact_section {
  padding-left: 50px;
  padding-right: 50px;
  background-size: cover;
}

#contact_wrapper {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.contact_column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  margin-bottom: 10%;
}

form, #submit_receipt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  padding: 7.5%;
  align-self: center;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#submit_receipt h2 {
  text-align: center;
}

#submit_receipt p {
  margin: 20px;
}

input, textarea {
  padding: 3px;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Raleway';
  font-size: 15px;
}

textarea {
  padding-top: 5px;
}

label {
  font-weight: bold;
}

label .required {
  color: red;
  font-size: 25px;
}

.form_element.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-bottom: 20px;
}

.form_element.column {
  display: flex;
  flex-direction: column;
}

input#name, input#phone, input#email {
  height: 25px;
  margin-left: 30px;
  width: 70%;
}

input#reason {
  height: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}

textarea#message {
  height: 100px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid #D8D8D8;
  resize: none;
}

.contact_column iframe {
  width: 80%;
  height: 70%;
  border-width: 0px;
  border-style: none;
  align-self: center;
}

#info_wrapper {
  margin-top: 7.5%;
  height: 30%;
  width: 400px;
  align-self: center;
  display: flex;
  justify-content: space-around;
  background-color: #DEB7F4;
}

.info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info h2 {
  margin-top: 0px;
}


.form_element .button {
  align-self: center;
  border: none;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
}

/*Deals Page Styling*/

.section_title {
  font-family: 'Lobster';
  font-size: 70px;
  padding: 50px;
  margin: 0px;
}

#kids_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.kids_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.kids_column p {
  font-size: 30px;
  padding-bottom: 20px;
}

.kids_column img {
  width: 350px;
  align-self: center;
}

.purple_section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #4E2764;
  color: white;
}

#deals_wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#deals_wrapper, #kids_wrapper {
  padding: 50px;
  padding-top: 0px;
}

.purple_section h1 {
  padding-top: 50px;
}

/* Code for errors */
div.errorContainer {
  background-color: pink;
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
}

div.errorContainer p {
  padding: 10px;
}

input.errorContainer, textarea.errorContainer {
  border: solid red 3px !important;
}

input.hiddenError, textarea.hiddenError {
  border: solid #D8D8D8 1px !important;
}

div.hiddenError, div.hiddenError p {
  display: none;
}
